body {
    background: url("img/bk.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;

}

.label {
    color: whitesmoke;
    font-size: 2em;
    padding-bottom: 0.5em;
}

.input {
    width: 250px;
    padding: 10px;
    background-color: rgb(12, 11, 11);
    color: whitesmoke;
}

.button, .button-sn button, .resultado3 button {
    width: 100px;
    padding: 5px;
    margin: 1em;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.button:hover, .button-sn button:hover, .resultado3 button:hover {
    background-color: black;
    color: whitesmoke;
    transform: scale(1.05);
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.label {
    background-color: black;
    padding: 10px;
    margin-bottom: 0.5em;
    border-radius: 5px;
}


.pergunta2, .pergunta3, .linguagem, .linguagem2 {
    display: none;
    margin-top: 2em;
}

.resultado, .resultado2{
    color: whitesmoke;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    font-size: 2.5em;
    display: none;
    margin-top: 60px;
    text-align: center;
}

.button-sn, .resultado3 button {
    display: none;
    margin-top: 20px;

}





